.products {

    display: flex;
  
    flex-wrap: wrap;
  
  }
  
  .product-card {
  
    padding: 2%;
  
    flex-grow: 1;
  
    flex-basis: 16%;
  
  }
  
  body {
  
    background-image: url("https://img.freepik.com/premium-photo/heap-dry-brown-hay_154317-135.jpg?w=1800");
    
  
  }
  
  
  
  .cont {
  
    display: flex;
  
    justify-content: center;
  
  }
  
  .back {
  
    background-color: #f4eddd; 
  
    padding: 20px;
  
    margin-left: 20px;
  
    margin-right: 20px;
  
    font-family: 'Encode Sans Semi Condensed', sans-serif;
  
  
  
  }
  
  .change {
  
    background-color: #E14D2A;
  
    color: white;
  
    padding: 10px;
  
    border: none;
  
    font-family: 'Encode Sans Semi Condensed', sans-serif;
  
  }
  
  h3, h4, h1, p{
   padding: 10px;
    background-color: #FFD384;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    text-align: center;
  
  }
  
  button {
  
    margin: 20px;
  
  }
  nav{
    background: #E14D2A;
    display: flex;
    justify-content: center;
    padding: 15px;
  }
  
  .link{
    padding: 10px 40px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }
  h1{
    
    background-color: #FFD384;
    padding: 15px;
  }
  .about{
    margin-top: 20px;
    /* display: flex;
    flex-direction: column; */
    justify-content: center;
  }